<!doctype html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    </head>

    <body>
        
        {% verbatim %}  
        <div ng-app="" ng-controller="dataController"> 
        
            <form>
                <!-- Choices should be dynamic  --> 
                <!-- <select ng-model="selection" ng-options="option.value as option.text for option in options"> -->
                <select required id="select_var">
                    <option value="birth_country">Birth Country</option>
                    <option value="education">Education</option>
                    <option value="class_of_worker">Class of Worker</option>
                    <option value="sex">Sex</option>
                </select>
                
                <button type="button"  ng-click="click()"> Go! </button>
                                
            </form>



            <table> 
                <tr ng-repeat="entry in census | orderBy : '-count'">                    
                    <td> {{ entry.name }} </td>
                    <td> {{ entry.count }} </td> 
                    <td> {{ entry.age }} </td>
                </tr>
            </table> 
        </div>
        {% endverbatim %}

    <script>
                        
         function dataController($scope,$http) {

             $scope.click = function() {
                
                var select = document.getElementById("select_var");   
                var variable = select.options[select.selectedIndex].value;

                console.log(variable)    

                // $http.defaults.useXDomain = true;
                
                var response = $http.get("http://127.0.0.1:8000/data/"+ variable)

                response.success(function(response) {
                    
                    $scope.census = response;
                });

                //response.error(function(response) {
                //    alert("Error! Data could not be loaded.");
                //});

            };

        }




        // On mouse-over, execute myFunction
        //function getData() {
            //document.getElementById("myCheck").c; // Click on the checkbox
        //}
    </script>
    </body>
</html> 
