body { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
body { background: #F0F0F0; margin: 15px 3%;} 

.input-container { float:left; width:28%; text-align: center;}
.data-container { float:left; width:50%; }
.meta-container { float:left;  width:16%; font-size:90%; }
 
table { text-align:center; }

tr:nth-child(even) {background: #E0E0E0}
tr:nth-child(odd) {background: #D0D0D0}
tr.table_headers {background: #707070; color: #F0F0F0; }

td.name { width: 60%; padding: 5px;}  
td.number { width: 20%; padding: 5px;}  
td.align-right { padding-right: 25px; text-align:right;}

